# Node & React Frontend
node_modules/
dist/
.env

# Python & AI Engine
__pycache__/
*.pyc
myenv/
venv/
models/
buffalo_l/

# XAMPP User Uploads (Ignores the actual photos, but keeps the folder structure if needed)
uploads/children/*
!uploads/children/.gitkeep